@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>Resume</h1>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Resume</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->
<section id="resume" class="resume section">

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Amin Khaled</h4>
                    <p><em>As a dedicated Junior Back-End Developer with expertise in ASP .NET, I aim to leverage my backend and frontend development skills to build robust and scalable web applications. I am committed to continuously improving my technical abilities and contributing to innovative projects.</em></p>
                    <ul>
                        <li>Tanta, Al Gharbeia, Egypt</li>
                        <li>(+20) 1202155490</li>
                        <li>amin.kh.ragab@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Tanta university, Faculty of Computers and Information</h4>
                    <h5>Expected Graduation: [2026]</h5>
                    <p><em>Major: Computer science </em></p>
                </div>

                <h3 class="resume-title">Skills</h3>
                <div class="resume-item">
                    <h4>ASP .NET Core</h4>
                    <h4>RESTful APIs</h4>
                    <h4>SQL</h4>
                    <h4>Entity Framework</h4>
                    <h4>Bootstrap</h4>
                    <h4>Problem-solving</h4>
                </div>



            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Experience & Internships</h3>
                <div class="resume-item">
                    <h4>Digital Egypt pioneers’ initiative (DEPI) | Trainee</h4>
                    <h5>Oct 2024 - Present</h5>
                    <ul>
                        <li>Building a foundation in front-end development</li>
                        <li>Building a foundation in API integration</li>
                        <li>Building a foundation in MVC architecture</li>
                        <li>Gaining hands-on experience in creating dynamic web applications</li>
                        <li>Combining back-end and front-end skills</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>NTI | Trainee.</h4>
                    <h5>Aug 2024 - Oct 2024</h5>
                    <ul>
                        <li>Building responsive and user-friendly web interfaces</li>
                        <li>Using HTML, CSS, and JavaScript</li>
                        <li>Crafting interactive UI components with Bootstrap</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Languages</h3>
                <div class="resume-item">
                    <h4>Arabic</h4>
                    <h5>Native</h5>
                    <br>
                    <br>
                    <h4>English</h4>
                    <h5>Very Good</h5>
                </div>


            </div>

        </div>

    </div>

</section><!-- /Resume Section -->