
@{
    ViewData["Title"] = "Home Page";
}  
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="/img/hero-bg.jpg" alt="" data-aos="fade-in">

        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h2>Amin Khaled</h2>
            <p>I'm <span class="typed" data-typed-items="Back-end Developer,Front-end Developer,Freelancer"></span><span class="typed-cursor typed-cursor--blink"></span></p>
            <br>
            <h6>
                <a href="mailto:amin.kh.ragab@gmail.com" target="_blank"><i class="bi bi-google"></i> &nbsp; amin.kh.ragab@gmail.com</a>
            </h6>
        </div>

    </section>

</main>
